<section id="hero">
    <div class="hero">
        <div class="carousel">
            <owl-carousel-o  [options]="customOptions">
                <ng-template carouselSlide><img src="./../../../assets/images/img1.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="./../../../assets/images/img2.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="./../../../assets/images/img3.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="./../../../assets/images/img7.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="./../../../assets/images/img5.jpg" alt=""></ng-template>
                <ng-template carouselSlide><img src="./../../../assets/images/img2.jpg" alt=""></ng-template>
            </owl-carousel-o>
        </div>
        <div class="images">
            <img class="img" src="/assets/images/img1.jpg" alt="">
            <img class="img" src="/assets/images/img2.jpg" alt="">
            <img class="img" src="/assets/images/img3.jpg" alt="">
        </div>
        <div style="width: 100%;margin: 30px 0 30px 0; text-align: center;"><video src="./../../../assets/images/WhatsApp Video 2023-07-13 at 7.06.37 PM.mp4" autoplay controls></video></div>
    </div>
    
</section>